<%- include('template/head', {titleweb: 'Starting webpage'}) %>
<body>
    <h1 class="text-primary">Title of my index website</h1>
    <h2><%= dinamictitle %></h2>
    <%- include('template/foot', {titleweb: 'Starting webpage'}) %>
</body>
</html>